<!DOCTYPE html>
<html>
  <head>
    <title>Swanky Salon Hashtagdotcomselfiebackslash</title>
    <link href="//fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400italic" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/styles/global.css" rel="stylesheet" />
  </head>
  <body ontouchstart>
    <header>
      <h1>Swanky Salon</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Source available on <a href="//github.com/zulaica/salon" target="_blank">GitHub</a>.</p>
    </footer>
  </body>
</html>
